<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add product</title>
<script type="text/javascript"></script>
</head>
<body>
  <h1>New Product</h1>
  <form th:action="@{/products/create}" th:object="${productForm}" method="POST">
    <input placeholder="code" type="text" name="code" th:field="*{code}"> <br>
    <input placeholder="name" type="text" name="name"  th:field="*{name}"> <br>
    <input placeholder="price" type="number" name="price" th:field="*{price}"><br>
    <input placeholder="quantity" type="number" name="quantity" th:field="*{quantity}"> <br>
    <input placeholder="image" type="text" name="image" readonly > <br>
    <input type="submit" value="Add">
  </form>
  <p th:text="${error}"></p>
</body>
</html>
