<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>
    <img th:src="@{/images/logo.png}" alt="Online Store Logo" class="logo">
    <h1>Product List</h1>
    <table>
        <tr><th>Code</th><th>Name</th><th>Price</th><th>Quantity</th><th>Image</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.code}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="|${product.price} $|"></td>
            <td th:text="${product.quantity}"></td>
            <td>
                <!-- <img th:if="${product.image}" th:src="@{|/images/${product.image}|}" width="50px" height="50px">
                <img th:unless="${product.image}" th:src="@{/images/no-image.png}" width="50px" height="50px"> -->
                <img th:src="(${product.image})?@{|/images/${product.image}|}:@{/images/no-image.png}" alt="photo"
                    width="50" height="50">
            </td>
        </tr>
    </table>
    <br>
    <div>
        <a th:href="@{/products/create}">Add product</a>
    </div>
</body>

</html>